{% extends 'polls/base.html' %}

{% block heading %}
<h1>Online Voting System</h1>

{% endblock %}

{% block content %}
<span class="center"><h1> &nbsp;&nbsp;&nbsp;Instructions</h1><br>
        <ul>
        <h2>How to Register?</h2>If you do not have an account already, click on Register. Enter your details in the required fields to
           register your account.
       <h2>How to Log In?</h2>If you have an account, click on Log in. After successful Log In, you will be taken to the voting 
           page. You can cast your vote only one time, and it can not be changed later.
       <h2>How to view results of the Voting?</h2>Click on the Results link to view the results of the voting.
        </ul>
</span>
            
{% endblock %}