<!doctype html>
<html>
  <head>
  	<meta charset="utf-8">
  	<title>LOGIN PAGE</title>
      {% load static %}
  	<link rel="stylesheet" type="text/css" href="{% static "polls/st.css" %}">
  </head>
  <body>
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
      {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
     {% endif %}
     {% endif %}
      
      
      
  	<div class="loginbox">
  	      <img src="{% static "polls/qq.ico" %}" class="qq" >
  	<h2>Log In Here</h2>
  	<form method="post" action="{% url 'login' %}">
        {% csrf_token %}

  		<p>Username</p>
  		{{ form.username }}
  		<p>Password</p>
  		{{ form.password }}
  		<input type="Submit" name="" value="login"><br>
        <input type="hidden" name="next" value="{{ next }}" />
  		<a href="a.html">Forgot Password</a>
  	</form>
  </div>
  </body>