 {% extends 'polls/base.html' %}
{% block title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "polls/recst.css" %}">
{% endblock %}

{% block heading %}
<h1>Online Voting System</h1>
{% endblock %}
 

{% block content %}
  	<div class="loginbox">
  	<h2>REGISTRATION</h2>
  
        <form method="POST" class="register-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Register</button> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" class="save btn btn-default">Reset</button>
            
        </form>
    </div>
{% endblock %}
  
  